.assignmentType,
.caseDetailsFilters,
.assignmentTypes,
.filtersBarWrapper,
.layoutIcons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 18px;
}

.filtersBarWrapper {
  padding: 0 35px;
  margin: 40px 0;
}

.assignmentTypes {
  font-weight: bold;
}

.assignmentType {
  cursor: pointer;
}

.activeAssignmentType {
  border-bottom: 1px solid #000000;
  cursor: pointer;
}

.layoutIcon {
  height: 30px;
  cursor: pointer;
}
